<div class="alert alert-danger" role="alert" *ngIf="message">
  {{ message }}
</div>

<form *ngIf="!authService.getUser()">
  <div class="mb-3">
    <label for="username" class="form-label">
      User: (type <em>user</em>)
    </label>
    <input class="form-control" name="username" #username />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">
      Password: (type <em>password</em>)
    </label>
    <input class="form-control" type="password" name="password" #password />
  </div>

  <a class="btn btn-primary" (click)="login(username.value, password.value)">
    Submit
  </a>
</form>

<div class="well" *ngIf="authService.getUser()">
  Logged in as <b>{{ authService.getUser() }}</b>
  <a href (click)="logout()">Log out</a>
</div>